@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
  touch-action: manipulation;
}

h1 {
  font-weight: bold;
}

.btn {
  border: 1px solid;
  width: 80px;
  height: 80px;
}

.btn:hover {
  background-color: rgb(255, 191, 161);
  color: white;
}

.btn-choiche {
  background-image: url('../img/paper.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

.rock {
  background-image: url('../img/rock.png');
}.paper {
  background-image: url('../img/paper.png');
}.scissor {
  background-image: url('../img/scissor.png');
}

.btn-reset {
  background-color: rgb(255, 191, 161);
  font-weight: bold;
  height: 40px;
}

.hidden {
  visibility: hidden;
}

.arrow {
  margin: 10px;
  width: 40px;
  height: 40px;
  transform: rotate(30deg);
}

.tester {
  border: 2px solid red;
}