@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  font-family: 'VT323', monospace;
}

body {
  background-image: linear-gradient(315deg, #dacabf 30%, #f7f3f0 94%);
}

#canvas {  
  margin: 35px auto;
  overflow: hidden;
  /* Remove the double tap zoom (mobile) */
  touch-action: manipulation;
  /* Remove the draggable elements for the divs (desktop) */
  user-select: none; 
}

.main-container {
  margin: 25vh auto;
  height: 256px;
  width: 256px;
  background: linear-gradient(to top left, rgba(187, 187, 187, 0.075) 50%,  rgba(0, 0, 0, 0.096) 100%);
  overflow: hidden;
}

.container {
  background-color: aqua;
}

.square {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.square-grid {  
  border: 1px solid rgba(0, 0, 0, 0.075);
}


/* Buttons */
.grid-button {
  border: 1px solid;
}
.grid-button:hover {
  color: white;
  background-color: black;
}

li {
  text-align: center;
  margin: 2.5px;
  display: inline-block;

}

.color {
  visibility: hidden;
  background-color: black;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 0 0 5px 2px rgb(216, 216, 216);
} label {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50px;
  border: 0;
}

input::-webkit-color-swatch {
  border: none;
}

/* Tools */
.tools-up {
  position: absolute;
  width: 100%;
  top: 23%;
  left: 0;
  margin: 0;
  text-align: center;
}

.tools-bottom {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
  margin: 0;
  text-align: center;
}
.text-arrow {
  font-size: 1em;
  position: absolute;
  bottom: 60%;
  right: 0;
}

.arrow {
  transform: rotate(200deg);
  position: relative;
  left: 0;
  margin: -20px;
  width: 35px;
}

ul {  
  list-style-type:none;
  padding: 0;
}

/* img tools */
.btn {
  width: auto;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.096);
}

.btn:active {
  background-color: orange;
}

.btn-select-grid {
  width: auto;
  border: 0;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

img {
  width: 18px;
}



.tester {
  border: 2px solid red;
}

/* Palette */
.palette {
  margin-top: 10px;
  position: relative;
  bottom: 26.5%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.color-item {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50px;
  border: 0;
}

.color-item:focus {
  outline: none;
  border: 2px solid black;
}



/* Colors one per one */
.c-1 {
  background-color: #0d2b45;
}.c-2 {
  background-color: #203c56;
}.c-3 {
  background-color: #544e68;
}.c-4 {
  background-color: #8d697a;
}.c-5 {
  background-color: #d08159;
}.c-6 {
  background-color: #ffaa5e;
}.c-7 {
  background-color: #ffd4a3;
}.c-8 {
  background-color: #ffecd6;
}

.c-9 {
  background-color: #460198;
}.c-10 {
  background-color: #6a1794;
}.c-11 {
  background-color: #9e20b8;
}.c-12 {
  background-color: #c03b94;
}.c-13 {
  background-color: #ff88a9;
}.c-14 {
  background-color: #ffe0dc;
}.c-15 {
  background-color: #ffd4a3;
}.c-16 {
  background-color: #ffecd6;
}